@tailwind base;
@tailwind components;
@tailwind utilities;


/* similar classes..styles */

.inputStyle {
    @apply mb-3 w-full p-2 rounded-lg outline-none
}

.btnStyle {
    @apply ring-1 ring-white text-white px-10 py-1 mt-3 rounded-lg
}

.singinAndLoginWrapper {
    @apply rounded-lg shadow-md p-3 flex flex-col justify-center items-center
}

.similarTextStyle {
    @apply font-normal text-xs p-2 mb-3 rounded-md
}

.myMsg {
    @apply ligthBlueColor text-white
}

.friendMsg {
    @apply lightGary text-black
}

/* custom styles */

.sideBarStyle {
    height: 100vh;
    background-color: #06283D;
}

::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fafafa;
}

.textAreaHeight {
    height: 100vh;
    position: relative;


}



.smallScreenPadding {
    position: sticky;
    bottom: 0;
    width: 100%;
}

.messagesDiv {
    width: 100%;
    height: 512px;
    background-image: url(./images/bg.jpg);
    background-position: center;
    background-size: cover;
    overflow-y: auto;

}

.msgTextStyle {
    max-width: 55%;
    min-height: 40px;
    display: flex;
    align-items: center;
}

.chatMsgImgWrapper {
    max-width: 55%;
}

.chatMsgImgWrapper>img {
    width: 100%;
    max-height: 300px;
    margin: 10px 0;
}



@media(max-width:400px) {
    .smallScreenPadding {
        padding: 0 10px;
    }
}

.profileColor {
    background-color: #edf2f4;
}

.darkBluishColor {
    background-color: #06283D;
}

.signUpBtnColor {
    background-color: #F94C66;
}

.lightGary {
    background-color: #F9F9F9;
}

.lightGary:hover {
    background-color: #eae6e6;
}

.ligthBlueColor {
    background-color: #34B3F1;
}

.darkBlack {
    background-color: #205375;
}